body {
  background-color: #A7C6BC
}

.header {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #702A19;
}

.info {
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  color: #4F483B;
}

.car {
  font-family: sans-serif;
  font-size: 20px;
}
